absl-py==0.10.0
astor==0.8.1
bottle==0.12.18
chatterbot-corpus==1.2.0
Click==7.1.2
cmake==3.18.2.post1
coverage==5.2.1
cycler==0.10.0
Django==2.2.11
django-widget-tweaks==1.4.8
djangorestframework==3.11.1
dlib==19.21.0
face-recognition==1.3.0
face-recognition-models==0.3.0
gast==0.3.3
google-pasta==0.2.0
grpcio==1.31.0
h5py==2.10.0
image==1.5.32
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.3.1
mysql-connector-python==8.0.21
mysqlclient
nose==1.3.7
numpy==1.18.0
opencv-python==4.4.0.42
Pillow==7.2.0
protobuf==3.13.0
py==1.9.0
py-bcrypt==0.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==3.12
requests==2.24.0
scikit-learn==0.23.2
scipy==1.4.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
tb-nightly==2.4.0a20200826
tensorflow==2.3.0
termcolor==1.1.0
tf-estimator-nightly==2.4.0.dev2020082601
virtualenv==20.0.31
Werkzeug==1.0.1